/* My components */
@import url('components/avatars.css');
@import url('components/banners.css');
@import url('components/cards.css');
@import url('components/buttons.css');
@import url('components/containers.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500,600,700,800|Montserrat:300,400,700&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #eddcbf;
}

h1, h2, h3, h4 {
  font-family: 'Baloo Chettan 2', cursive;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.text-center {
  text-align: center;
}
