.btn-pink-light {
  background: #eddcbf;
  color: #4d4e61;
  width: 50%;
  padding: 24px 25px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  transition: background 0.3s ease;
  margin-bottom: 35px;
  font-size: 3vmin;
}

.btn-pink-light:hover {
  background: #eccf9b;
}

.btn-blue-dark {
  background: #4d4e61;
  color: white;
  width: 30%;
  padding: 2vmin;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: background 0.3s ease;
  margin-bottom: 2vmin;
  font-size: 2vmin;
}

.btn-blue-dark:hover {
  background: #3e4a5b;
}









.btn-ghost-blue {
  border: 1px solid #A2B9C9;
  color: #A2B9C9;
  padding: 8px 60px;
  border-radius: 5px;
  font-weight: normal;
  transition: 0.3s ease;
}

.btn-ghost-blue:hover {
  border: 0px;
  color: white;
  background: #A2B9C9;
}
